tl_2016_06_tabblock10.zip
CA_Assembly.csv
CA_Assembly-solution.zip
CA_Congress.csv
CA_Congress-solution.zip
CA_Senate.csv
CA_Senate-solution.zip
resampled-????????
resampled-*.???
adjusted-????????
adjusted-*.???
*-2163.???
